<!DOCTYPE html>
<html>
<head>
    <title>Placement Status Predictor</title>
</head>
<body>
    <h1>Placement Status Predictor</h1>
    <form action="/predict" method="post">
        <label for="cgpa">CGPA:</label>
        <input type="text" id="cgpa" name="cgpa"><br><br>

        <label for="internships">Number of Internships:</label>
        <input type="text" id="internships" name="internships"><br><br>

        <label for="projects">Number of Projects:</label>
        <input type="text" id="projects" name="projects"><br><br>

        <label for="workshops_certifications">Number of Workshops/Certifications:</label>
        <input type="text" id="workshops_certifications" name="workshops_certifications"><br><br>

        <label for="aptitude_test_score">Aptitude Test Score:</label>
        <input type="text" id="aptitude_test_score" name="aptitude_test_score"><br><br>

        <label for="soft_skills_rating">Soft Skills Rating:</label>
        <input type="text" id="soft_skills_rating" name="soft_skills_rating"><br><br>

        <label for="extracurricular_activities">Extracurricular Activities (Yes/No):</label>
        <input type="text" id="extracurricular_activities" name="extracurricular_activities"><br><br>

        <label for="placement_training">Placement Training (Yes/No):</label>
        <input type="text" id="placement_training" name="placement_training"><br><br>

        <label for="ssc_marks">SSC Marks:</label>
        <input type="text" id="ssc_marks" name="ssc_marks"><br><br>

        <label for="hsc_marks">HSC Marks:</label>
        <input type="text" id="hsc_marks" name="hsc_marks"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
